@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.charBtn {
  width: 225px;
}
.avatar{
  border-radius: 50%;
  width: 200px;

}
.imgPop{
  animation-name: 'popimage';
     animation-fill-mode: forwards;
     -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
}

.imgPush{
  animation-name: 'pushimage';
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes pushimage{

    0% {
      width: 250px;
    }
       100% {
         width: 200px;
       }
}

@keyframes popimage {
  0% {
    width: 200px;
  }
  100%{
    width: 250px;
  }
}
.blue{
  background-color: rgb(42, 131, 190);
}

#player{
  width: 62px;
}
.players{
  position: absolute;
}

#gameBoard{
  border: 2px solid black;
  width: 720px;
  height: 720px;
  touch-action: none;
}